.label-group
  @extend .list-unstyled
  width: 8.5in
  height: 11in
  margin: 0.25in

.label-group-item
  float: left
  width: 4in
  height: 3.333in
  padding: 0.25in
  margin: 0 0.25in 0.25in 0
  outline: 1px solid lightGray
  h2
    margin: 0
