.navbar-default
  margin: 20px
  border: 0
  .navbar-brand
    padding: 6px 10px
    font-size: 40px
    background: #000
  .navbar-nav
    $border-width: 3px
    > :first-child
      > a
        border-left: $border-width solid #000
    > li
      >
        a
          padding: (($navbar-height / 2) - 5px) 15px 5px 35px
          border-right: $border-width solid #000
          line-height: $navbar-height / 2
        .navbar-item-info
          background: $brand-info
        .navbar-item-warning
          background: lighten($brand-warning, 25%)
        .navbar-item-danger
          background: $brand-danger
