.table
  border-spacing: 8px
  border-collapse: separate
  th, td
    &.type-number
      width: 10%
      text-align: right
  > thead, > thead:first-child
    > tr, > tr:first-child
      > th
        border-top: 8px solid $brand-info
  > tbody
    > tr
      > th, td
        &, a
          line-height: 0.75
          color: $cell-color
        &.type-number
          &, a
            color: $cell-number-color
        &.type-category
          &, a
            color: $cell-category-color
