$body-bg: #000
$text-color: #EEE

$brand-primary: #cb99cc
$brand-info: #51518d
$brand-warning: #fe9900
$brand-danger: #ca6668

$font-family-sans-serif: "alternate-gothic-no-1-d", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-size-base: 24px

$navbar-height: 40px
$navbar-border-radius: $navbar-height / 2
$navbar-default-bg: $brand-primary
$navbar-default-brand-color: $brand-warning

$btn-height: 40px
$btn-default-color: #000
$btn-primary-color: #000
$btn-success-color: #000
$btn-info-color: #000
$btn-warning-color: #000
$btn-danger-color: #000

$table-border-color: transparent
$cell-color: $brand-warning
$cell-number-color: $brand-danger
$cell-category-color: $brand-info
